@import "vendor/navigation";
@import "vendor/tabs";
@import "vendor/transitions";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/*@import "vendor/flip";*/
@tailwind preflight;

@tailwind components;


.pagebg{
	background: url('/images/bg.jpg?id=1') repeat-x;
}
.category p, .category ul, .product p, .product ul, .casestudy p, .casestudy ul{
	@apply .mb-4 .text-sm;
}
.category li, .product li{
	@apply .mb-2;
}
.category h1, .product h1{
	@apply .font-extrabold .uppercase .mb-2;
}
.category h3, .product h3{
	@apply .mb-1 .text-grey-darker;
}

.ais-highlight em{
	@apply text-sanika-primary;
}
.ais-snippet em{
	@apply text-sanika-primary;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.VueCarousel-slide {
  visibility: visible;
  flex-basis: 100%;
  width: 100%;
}

.slick-prev:before, .slick-next:before{
	@apply .text-grey;
}

/*
***************************
http://davidwalsh.name/css-flip [IE version]
***************************
1. work in Safari 7.0.1
2. work in Chrome 32.0.1700.107
3. work partially in Firefox 27
*/

.flip-container {
	margin: auto;
	/* keeps perspective in the entire container */
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	padding-bottom: 148.6646884272997%;
	height: 0;
	position: relative;
}

/* flip the pane when hovered */
.flip-container:hover .back {
	transform: rotateY(0deg);
}

/* flip the pane when hovered */
.flip-container:hover .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flipper {
	@apply .absolute .pin;
}

.front, .back {
	@apply .rounded;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	/* hide back of pane during swap */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	/* flip speed goes here (for IE compatibility)
	Else put it in .flipper */
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	-ms-transition: 0.6s;
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	background-color: #FFF;
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.3);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 3px 5px rgba(0,0,0,0.3);  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 3px 5px rgba(0,0,0,0.3);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.front {
	z-index: 2;
}

/* original position of the image (reverse horizontal symetry) */
.back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
/*@screen sm{
	.flip-container, .front, .back {
		height: 300px;
		text-align: center;
		padding: 10px;
	}
}*/

@tailwind utilities;

/* Add utilities here... */
